<a class="link-go-back" mat-button routerLink="..">
  <mat-icon>arrow_back</mat-icon>
  Return To Persons
</a>

<h2>New Person</h2>

<mat-card class="card-form-new-person">
  <mat-card-header>
    <h4 class="mat-mdc-card-subtitle">Person's Details</h4>
  </mat-card-header>

  <mat-card-content>
    <form
      id="frm-new-person"
      class="form-new-person"
      [formGroup]="newPersonForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Person's name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Birthdate</mat-label>
        <input
          matInput
          [matDatepicker]="pickerBirthdate"
          formControlName="birthdate"
          placeholder="Choose the person's birthdate"
          [max]="maxDateToday"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerBirthdate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerBirthdate></mat-datepicker>
      </mat-form-field>

      <div
        class="addresses-container"
        *ngIf="countriesList$ | async as countries"
      >
        <div class="addresses-container-header">
          <h4 class="mat-mdc-card-subtitle">Person's Adresses</h4>

          <div class="addresses-container-header-toolbox">
            <button
              type="button"
              (click)="onOpenAddNewCityDialog()"
              mat-mini-fab
              color="primary"
              aria-label="Open add a new city dialog"
              matTooltip="Open New City Modal"
            >
              <mat-icon>location_city</mat-icon>
            </button>

            <button
              type="button"
              aria-label="Add an address to person"
              (click)="onAddNewAddress()"
              mat-mini-fab
              color="accent"
              class="btn-add-new-address-form"
              matTooltip="Append New Address"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="address-scroll-container">
          <sealights-add-person-address-form
            *ngFor="let employee of addressesForm.controls; let i = index"
            [id]="i"
            [countries]="countries"
            (addressRemoved)="onAddressFormRemoved($event)"
          >
          </sealights-add-person-address-form>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      mat-button
      type="submit"
      aria-label="Save new person"
      form="frm-new-person"
      [disabled]="newPersonForm.invalid"
    >
      Save
      <mat-icon
        ><mat-spinner *ngIf="isLoading" color="primary" diameter="20">
        </mat-spinner
      ></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
