$padding-left-right-card: 1.5rem;

.link-go-back {
  margin-bottom: 3rem;
}
.mat-typography h4 {
    all: revert;
}

.card-form-new-person {
  mat-card-header,
  mat-card-content {
    padding-left: $padding-left-right-card;
    padding-right: $padding-left-right-card;
  }

  mat-card-header {
    margin-bottom: 1rem;
  }

  .addresses-container {
    margin: 1.4rem 0;

  }

//   .mat-mdc-card-subtitle {
//     font-size: var(--mat-card-subtitle-text-size);
//   }
}

.form-new-person {
  display: flex;
  flex-direction: column;
}
