:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
}

.toolbar-container {
  display: flex;
}

.search-box-container {
  width: 70%;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

sealights-search-box {
  max-width: 20rem;
}
