<form class="addressform" [formGroup]="addressForm">
  <mat-form-field appearance="outline">
    <mat-label>Address Name</mat-label>
    <input
      matInput
      placeholder="set a alias for your new address"
      formControlName="name"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Street</mat-label>
    <input matInput placeholder="Adress Street" formControlName="street" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select
      (valueChange)="onCountryChanged($event)"
      formControlName="countrId"
    >
      <mat-option *ngFor="let item of countries" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <mat-select formControlName="cityId">
      <mat-option *ngFor="let item of cities" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="toolbox">
    <button
      mat-icon-button
      type="button"
      color="warn"
      (click)="onRemove()"
      aria-label="remove address"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
